.banner {
	background-image: url(https://etapes.com/app/uploads/2019/08/MeanderingRiver01_detail01.jpg);
	background-size: 100%;
	border-radius: 2px;  
	box-shadow: 0 10px 30px rgba(0,0,0,.1); 
	width: 96,8%;
	height: 380px;
	padding: 25px;

}